* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
}

body {
  font: 1.8em Helvetica;
}

form {
  background:pink;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
  color: brown
}

form #button {
  color:black;
  background:lightskyblue;
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: antiquewhite
}

#messages li {
  padding: 5px 10px;
  color:black


}

#messages li:nth-child(odd) {
  background: rgb(223, 26, 26);
  color: aqua
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */